:root {
  --width-card: 100%
}

.hidden {
  display: none;
}
#goal-edit {
  display: flex;
  flex-direction: column;
}

#goal-edit.hidden {
  display: none;
}

#goal-edit div{
  xdisplay: flex;
  flex-direction: row;
}

#goal-edit div label{
  white-space: nowrap;
  padding-right: 4px;
}
.goals-list{
  display:flex;
  flex-direction:column;
}

main{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  width:100%;
}

header h1{
  text-align: center;
}

.goals-list-item {
  list-style-type: none;
  color: #3c3c3c;
  font-weight: bold;
  white-space: nowrap;
}

input[type="range"] {
  display: inline;
  color: green;
}

.loading {
  opacity: 0.3;
}